/* Simply as reference of setting fixed page visual in main page, not inplemented

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; 
  font-family: system-ui, Segoe UI, Inter, Arial;
} */

/* If you have a main wrapper div around the calendar, use its id here */
/* #calendar-root,
#app,
#container {
  width: 100%;
  height: 100%;
} */

/* Visualization and index page stylings */
#visualization-1, #visualization-2 {
    width: 100%;
    min-height: 400px;
    margin: 20px 20px 20px 20px;
    border: 1px solid #000000;
    background-color: #33383f;
    border-radius: 15px; /* Fixed pixel value for consistent rounding */
   
}

body {
    font-family: Arial, sans-serif;
    background-color: #4e4e4e;
}

h1 {
    color: #ffffff;
    margin-bottom: 30px;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px;
}

/* Selector button for both calendar vis */
.month-selector {
    margin: 20px;
}

.month-button:hover {
    background: #45a049 !important;
}

/* Line Chart Visualization Styles */
.axis {
    font-size: 12px;
    margin-top: 10px;
}

.axis path, .axis line {
    stroke: #b2ff7f;
    stroke-width: 2px;
    fill: none;
}

/* Keep axis text non-bold and colored */
.axis text {
    font-weight: normal;
    fill: #ffffff;
    stroke: none;
}